Etapa*/etapa[0-9]
Etapa*/lex.yy.c
Etapa*/lex.yy.o
Etapa*/parser.tab.c
Etapa*/parser.tab.h
Etapa*/parser.tab.o
Etapa*/parser.output
Etapa*/lex.yy.c
Etapa*/lex.yy.o
Etapa*/AST.o
Etapa*/build

Etapa6/tst/our_tests/testing